{% import "Ceres::Category.Macros.CategoryTree" as Tree %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set lang         = services.sessionStorage.getLang() %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = config("Ceres.header.company_name") %}
<div class="brand-container">
    <div class="container-max">
        <div class="row">
            <div class="brand-wrapper" {% if showHeaderNavBar == "side" %}style="position: relative"{% endif %}>
                <a class="navbar-brand pull-lg-left" href="/">
                     <img alt="{{ companyName }}" src="/images/gallery/welcome-page/HPLogoFarbe2016.jpg" class="img-fluid"/>
                </a>

                <button id="btnMainMenuToggler" class="navbar-toggler hidden-lg-up" type="button">
                 &#9776;
                </button>
            </div>
            <div class="pull-md-right">
                <a href="#" target="_blank"><img class="m-r-1" src="http://via.placeholder.com/150x100"></a>
                <img class="m-r-1" src="http://via.placeholder.com/150x100">
                <img src="http://via.placeholder.com/150x100">
            </div>
        </div>
    </div>
</div>
<nav class="navbar">
      <div class="container-max">
        <div class="row">
            <div id="mainNavbarCollapsable">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a>{{ trans("Ceres::Template.generalBigAll") }}</a></li>
                    <li class="btnClose"></li>
                </ul>
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    <ul class="mainmenu pull-lg-right">
                        {% if services.template.isHome() %}
                            <li><a href="/hockey" title="Hockey">Hockey</a></li>
                            <li><a href="/tennis" title="Tennis">Tennis</a></li>
                        {% else %}
                            {{ Tree.get_nav_bar(categories, "") }}
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

        </div>
    </div>
</nav>

